<div>
  <div class="pad backg bg white-text" fxLayout="row" fxLayoutAlign="start center">
    <h4 class="no-margin">Reordering</h4>
    <div fxFlex></div>
  </div>
  <div class="pad" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="margin-bottom">
      <div fxFlex></div>
      <div><button mat-raised-button color="primary" (click)="resetOrder()">Reset</button></div>
      <div class="margin-left margin-right"><button mat-raised-button (click)="cancelOrder()">Cancel</button></div>
      <div><button mat-raised-button color="primary" (click)="saveOrder()">Save</button></div>
    </div>
    <div class="backg1 bg pad">
      <div class="whitebg bg pad">
        <div cdkDropList (cdkDropListDropped)="updateIndex($event, terms)" class="order-wrapper">
          <div cdkDrag *ngFor="let item of terms; let index = index"
               class="item margin-bottom backg border whitebg bg flex-row-center">
            <div cdkDragHandle class="drag-handle" fxLayout="column" [ngClass]="{'active': index === lastMoved}">
              <mat-icon class="primary color">drag_handle</mat-icon>
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="pad">
              <div class="mat-caption">{{index + 1}}</div>
              <div class="margin-left" [innerHTML]="item.name"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
