<div *ngIf="src.processed" class="pad-r mat-elevation-z2 border-radius whitebg bg segment-wrapper">
  <div class="pad backg1 bg margin-bottom" fxLayout="row wrap" fxLayoutAlign="start center">
    <div class="margin-right"><app-label src="segment_intro"></app-label></div>
    <a [routerLink]="'/' + variables.lang + '/' + src.parent?.link" class="seg-link">
      <div *ngIf="variables.lang === 'en'">
        <div [innerHTML]="src.parent?.node_export.title[0].value"></div>
      </div>
      <div *ngIf="variables.lang === 'es'">
        <div [innerHTML]="src.parent?.node_export.i18n?.es.title[0].value"></div>
      </div>
    </a>
    <div fxFlex></div>
    <!--Node Admin-->
    <div *ngIf="variables.auth">
      <button mat-button [matMenuTriggerFor]="segmenu" class="min" aria-label="Node Menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #segmenu="matMenu">
        <div *ngIf="src.relevance" class="padding-left padding-right mat-caption">Relevance: {{src.relevance}}</div>
        <a mat-menu-item [href]="adminUrl + src.nid">Edit</a>
      </mat-menu>
    </div>
  </div>
  <div class="margin-bottom">
    <h2 class="no-margin">
      <div *ngIf="variables.lang === 'en'">
        <div [innerHTML]="src.node_export?.title[0].value"></div>
      </div>
      <div *ngIf="variables.lang === 'es'">
        <div [innerHTML]="src.node_export?.i18n?.es.title[0].value"></div>
      </div>
    </h2>
  </div>
  <div>
    <div *ngIf="variables.lang === 'en'">
      <div [ngClass]="{'trimmed': trimSeg(src.node_export?.body[0])}"
           [innerHTML]="src.node_export?.body[0].value | safeHtml"></div>
    </div>
    <div *ngIf="variables.lang === 'es'">
      <div [ngClass]="{'trimmed': trimSeg(src.node_export?.body[0])}"
           [innerHTML]="src.node_export?.i18n.es.body[0].value | safeHtml"></div>
    </div>
    <div *ngIf="trimSeg(src.node_export?.body[0])" fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button class="primary button seg-expand"
              (click)="src.node_export?.body[0].full = true">
        <div fxLayout="row" fxLayoutAlign="start center">
          <app-label src="read_more"></app-label>
          <mat-icon>expand_more</mat-icon>
        </div>
      </button>
    </div>
  </div>
</div>
