.node-picker-wrapper {
  .node-table {
    tbody tr:nth-child(odd) {
      background:#f2f2f2;
    }
    .mat-column-select {
      width:30px;
    }
    .lang-wrapper {
      &.en {
        color:blue;
      }
      &.es {
        color:orange;
      }
      &.both {
        color:#f44336;
      }
    }
  }
}

.node-ref-wrapper {
  .item {
    position:relative;
    .drag-handle {
      position:absolute;
      top:14px;
      cursor: pointer;
    }
    .info-wrapper {
      padding-left:20px;
    }
  }
}
