.main-node-wrapper {
  .crumb {
    a {
      text-decoration:none;
      &:hover {
        text-decoration:none;
      }
    }
  }
  .mobile-title {  // temp?
    font-size:26px;
    line-height:28px;
  }
  .page-body-wrapper {
    h2 {
      padding-top:40px;
    }
    h3 {
      padding:30px 0 10px;
    }
  }
  .segments-wrapper {
    padding-bottom:40px;
  }
  .credit {
    p {
      margin:0 !important;
    }
  }
}

// Print styles
@media only print {
  .main-node-wrapper {
    padding:16px;
    line-height:30px;
    overflow-y: visible;
    .crumb, .node-admin, .node-actions, .hide-print {
      display:none !important;
    }
  }
}
