<div class="footer-wrapper" [ngClass]="{'editing': variables.labelEdit}">
  <div class="max-width-layout">
    <div *ngIf="block_setup.length > 0" class="footer">
      <div *ngFor="let setup of block_setup" fxLayout="row wrap"
           fxLayoutAlign="center stretch" class="{{setup['class']}}">
        <div *ngFor="let config of setup.columns"
             fxFlex.xs="100" fxFlex.sm="100" [fxFlex]="config.value" class="{{config['class']}}">
          <div [fxHide.xs]="node.desktop" [fxHide.sm]="node.desktop" [fxHide.gt-sm]="node.mobile"
               *ngFor="let node of config.nodes">
            <div class="{{node.value[0]['class']}}">
              <app-block [nid]="node.target_id"></app-block>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
