<div class="triage-landing" fxLayout="column">
  <div class="pad-r border-bottom" fxLayout="row wrap" fxLayoutAlign="start stretch">
    <div fxLayout="row" fxLayoutAlign="start center" class="pad">
      <div fxLayout="row" fxLayoutAlign="start center">
        <app-icon fxHide.lt-md svgClass="svg md primary icon" svgIcon="tid631"></app-icon>
        <app-icon fxHide.gt-sm svgClass="svg sm primary icon" svgIcon="tid631"></app-icon>
      </div>
      <div class="padding-left"></div>
      <h1 class="no-margin">
        <app-label src="home_lhf"></app-label>
      </h1>
    </div>
    <div *ngIf="in_state" fxHide.lt-md fxFlex fxLayout="row" fxLayoutAlign="end center" class="pad-r-gt-sm">
      <div [ngClass]="{'margin-right': issues.length > 0}">
        <button mat-raised-button class="primary button icon-min" (click)="startOver()" appHighlight>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>refresh</mat-icon>
            <app-label src="triage_start_over"></app-label>
          </div>
        </button>
      </div>
      <div class="margin-left" *ngIf="issues.length > 0 && in_state">
        <button mat-raised-button class="primary button icon-min" [routerLink]="'/' + variables.lang + '/legal-help/results'" appHighlight>
          <div fxLayout="row" fxLayoutAlign="start center">
            <app-label src="triage_view_results"></app-label>
            <mat-icon>chevron_right</mat-icon>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="working">
    <app-loader></app-loader>
  </div>
  <div *ngIf="!working" fxLayout="column">
    <div *ngIf="block_setup.length > 0">
      <div [fxHide]="setup.status === '0'" *ngFor="let setup of block_setup">
        <div fxLayout="row wrap" fxLayoutAlign="center stretch" class="{{setup['class']}}">
          <div *ngFor="let config of setup.columns" fxLayout="row wrap" fxLayoutAlign="start start"
               fxFlex.xs="100" fxFlex.sm="100" [fxFlex]="config.value" class="{{config['class']}}">
            <div [fxHide.xs]="item.desktop" [fxHide.sm]="item.desktop" [fxHide.gt-sm]="item.mobile"
                 *ngFor="let item of config.nodes" fxFlex.xs="100" fxFlex.sm="100" [fxFlex]="item.value[0]['flex']">
              <!--Standard Blocks-->
              <div *ngIf="item.value[0]['msrc'] !== 'content'" class="{{item.value[0]['class']}}">
                <app-block [nid]="item.target_id"></app-block>
              </div>
              <!--Triage Content-->
              <div *ngIf="item.value[0]['msrc'] === 'content'" class="{{item.value[0]['class']}}">
                <div fxLayout="row wrap" fxLayoutAlign="center start">
                  <div fxFlex="100" fxFlex.gt-sm="75" *ngIf="!in_state" fxLayout="column" class="padding-bottom-lg">
                    <div *ngIf="state === ''" class="pad">
                      <div class="pad-r intro-text" [ngClass]="{'margin-top-lg margin-bottom-lg': media.isMatched('(min-width: 960px)')}">
                        <h3 class="no-margin">
                          <app-label src="triage_step1_intro"></app-label>
                        </h3>
                      </div>
                      <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutAlign.gt-xs="center center" class="pad">
                        <mat-radio-group [(ngModel)]="state" name="state-select" (change)="continue()"
                                         fxLayout="column" fxLayoutAlign="center start">
                          <mat-radio-button value="1" class="pad">
                            <app-label src="triage_step1_yes"></app-label>
                          </mat-radio-button>
                          <mat-radio-button value="0" class="pad">
                            <app-label src="triage_step1_no"></app-label>
                          </mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div *ngIf="state === '0'" fxLayout="column" fxLayoutAlign="center center">
                      <div class="pad">
                        <app-block [nid]="'797'"></app-block>
                      </div>
                      <div class="pad">
                        <button (click)="reset()" mat-raised-button class="primary button" appHighlight>Back</button>
                      </div>
                    </div>
                  </div>
                  <div fxFlex="100" *ngIf="in_state">
                    <app-triage-input [term]="id" (success)="search()"></app-triage-input>
                  </div>
                  <div *ngIf="in_state" fxHide.gt-sm fxFlex="100" class="pad" fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="darkbg bg pad border-radius">
                      <div [ngClass]="{'margin-right': issues.length > 0}">
                        <button mat-raised-button class="primary button icon-min" (click)="startOver()" appHighlight>
                          <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon>refresh</mat-icon>
                            <app-label src="triage_start_over"></app-label>
                          </div>
                        </button>
                      </div>
                      <div class="margin-left" *ngIf="issues.length > 0 && in_state">
                        <button mat-raised-button class="primary button icon-min" [routerLink]="'/' + variables.lang + '/legal-help/results'" appHighlight>
                          <div fxLayout="row" fxLayoutAlign="start center">
                            <app-label src="triage_view_results"></app-label>
                            <mat-icon>chevron_right</mat-icon>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
