<div fxLayout="column" class="api-wrapper">
  <div *ngIf="working">
    <app-loader></app-loader>
  </div>
  <div *ngIf="!working" fxLayout="column">
    <div *ngIf="block_setup.length > 0">
      <div [fxHide]="setup.status === '0'" *ngFor="let setup of block_setup">
        <div fxLayout="row wrap" fxLayoutAlign="center stretch" class="{{setup['class']}}">
          <div *ngFor="let config of setup.columns" fxLayout="row wrap" fxLayoutAlign="start start"
               fxFlex.xs="100" fxFlex.sm="100" [fxFlex]="config.value" class="{{config['class']}}">
            <div [fxHide.xs]="item.desktop" [fxHide.sm]="item.desktop" [fxHide.gt-sm]="item.mobile"
                 *ngFor="let item of config.nodes" fxFlex.xs="100" fxFlex.sm="100" [fxFlex]="item.value[0]['flex']">
              <!--Standard Blocks-->
              <div *ngIf="item.value[0]['msrc'] !== 'top' && item.value[0]['msrc'] !== 'content'"
                   class="{{item.value[0]['class']}}">
                <app-block [nid]="item.target_id"></app-block>
              </div>
              <!--Node Top-->
              <div *ngIf="item.value[0]['msrc'] === 'top'" class="{{item.value[0]['class']}}">
                <app-node-top [curNode]="node"></app-node-top>
              </div>
              <!--Node Content-->
              <div *ngIf="item.value[0]['msrc'] === 'content'" class="{{item.value[0]['class']}}">
                <app-node [curNode]="node"></app-node>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
