<div class="admin-term-nsmi-wrapper" fxLayout="column">
  <div class="pad backg bg white-text" fxLayout="row" fxLayoutAlign="start center">
    <h4 class="no-margin">
      <span *ngIf="!term.new">Edit</span>
      <span *ngIf="term.new">New</span>
    </h4>
    <div fxFlex></div>
  </div>
  <div *ngIf="!working">
    <form name="nsmiForm" #nsmiForm="ngForm">
      <div fxLayout="row" fxLayoutAlign="end center" class="pad-r margin-top">
        <div fxFlex></div>
        <div class="margin-right" fxLayout="column" fxLayoutAlign="center center">
          <button mat-raised-button (click)="cancelEdit()">Cancel</button>
        </div>
        <div>
          <button mat-raised-button color="primary" type="submit" [disabled]="!nsmiForm.form.valid"
                  (click)="saveTerm()">Save</button>
        </div>
      </div>
      <div class="pad">
        <!--English Name-->
        <div class="pad" fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>English Name</mat-label>
            <input matInput [(ngModel)]="term_en['name'][0]['value']" name="name_en"
                   placeholder="English Name" required>
          </mat-form-field>
        </div>
        <!--English Description-->
        <div class="pad" fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>English Description</mat-label>
            <textarea matInput [(ngModel)]="term_en['description'][0]['value']" name="desc_en"
                      placeholder="English Description"></textarea>
          </mat-form-field>
        </div>
        <!--English More Info-->
        <div class="pad">
          <div class="margin-bottom">
            <mat-label>English More Info</mat-label>
          </div>
          <div fxLayout="column">
            <app-admin-text-editor [src]="term_en['field_more_info'][0]['value']" elname="info_en" type="summary"></app-admin-text-editor>
          </div>
        </div>
        <!--English Paths-->
        <div class="margin-bottom pad">
          <app-admin-multi-input [value]="term_en['field_term_alias']" label="Alternative English Path(s)"></app-admin-multi-input>
        </div>
        <!--Spanish Name-->
        <div class="pad" fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>Spanish Name</mat-label>
            <input matInput [(ngModel)]="term_es['name'][0]['value']" name="name_es"
                   placeholder="Spanish Name" required>
          </mat-form-field>
        </div>
        <!--Spanish Description-->
        <div class="pad" fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>Spanish Description</mat-label>
            <textarea matInput [(ngModel)]="term_es['description'][0]['value']" name="desc_es"
                      placeholder="Spanish Description"></textarea>
          </mat-form-field>
        </div>
        <!--Spanish More Info-->
        <div class="pad">
          <div class="margin-bottom">
            <mat-label>Spanish More Info</mat-label>
          </div>
          <div fxLayout="column">
            <app-admin-text-editor [src]="term_es['field_more_info'][0]['value']" elname="info_es" type="summary"></app-admin-text-editor>
          </div>
        </div>
        <!--Spanish Paths-->
        <div class="margin-bottom pad">
          <app-admin-multi-input [value]="term_es['field_term_alias']" label="Alternative Spanish Path(s)"></app-admin-multi-input>
        </div>
        <!--Icon-->
        <div class="pad">
          <div class="margin-bottom">
            <mat-label>Icon</mat-label>
          </div>
          <app-admin-file-upload type="files" [value]="term_en['field_public_term_file']"></app-admin-file-upload>
        </div>
      </div>
    </form>
  </div>
</div>
