<div class="segments-wrapper">
  <!--Page and Article Styles-->
  <div *ngIf="type === '9' || type === '7'">
    <div *ngFor="let item of src; trackBy: variables.trackByTarget; let last = last; let index = index;" class="margin-bottom-lg-r seg-item">
      <div *ngIf="showSeg(item)" [id]="'s' + index">
        <a [name]="'s' + index"></a>
        <!--Title-->
        <div class="margin-bottom" fxLayout="row" fxLayoutAlign="start end"
             [ngClass]="{'padding-bottom border-bottom': type === '7' && showTitle(item.target_id)}">
          <div *ngIf="variables.lang === 'en' && showTitle(item.target_id)">
            <h2 class="no-margin" [innerHTML]="item.name"></h2>
          </div>
          <div *ngIf="variables.lang === 'es' && showTitle(item.target_id)">
            <h2 class="no-margin" [innerHTML]="item.src.i18n['es'].title[0].value"></h2>
          </div>
          <div fxFlex></div>
          <!--Node Admin-->
          <div *ngIf="variables.auth" fxLayout="column" fxLayoutAlign="end center" class="padding-right">
            <button mat-button [matMenuTriggerFor]="segmenu" class="min" aria-label="Node Menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #segmenu="matMenu">
              <a mat-menu-item [href]="adminUrl + item.src.nid[0].value">Edit</a>
            </mat-menu>
          </div>
          <div fxLayout="column" fxLayoutAlign="end center" class="hide-print">
            <a [routerLink]="loc.path()" [fragment]="'s' + index" class="button"
               fxLayout="column" fxLayoutAlign="end center">
              <mat-icon class="link-icon backg2 icon" appHighlight>link</mat-icon>
            </a>
          </div>
        </div>
        <!--Body / Node Reference-->
        <div class="body-wrapper">
          <div *ngIf="variables.lang === 'en'">
            <div *ngIf="item.src.body.length > 0" [innerHTML]="item.src.body[0].value | safeHtml"></div>
            <div *ngIf="item.src.field_node_reference.length > 0">
              <div *ngIf="item.src.field_node_reference[0].src.body.length > 0"
                   [innerHTML]="item.src.field_node_reference[0].src.body[0].value | safeHtml"></div>
            </div>
          </div>
          <div *ngIf="variables.lang === 'es'">
            <div *ngIf="item.src.i18n['es'].body.length > 0" [innerHTML]="item.src.i18n['es'].body[0].value | safeHtml"></div>
            <div *ngIf="item.src.field_node_reference.length > 0">
              <div *ngIf="item.src.field_node_reference[0].src.i18n['es'].body.length > 0"
                   [innerHTML]="item.src.field_node_reference[0].src.i18n['es'].body[0].value | safeHtml"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Classroom / Guide Style-->
  <div *ngIf="type === '6'" fxLayout="row wrap" id="guide">
    <!--Guide Content-->
    <div fxFlex="100" fxFlex.gt-sm="70" fxFlexOrder="1" fxFlexOrder.gt-sm="2" *ngIf="curitem"
         class="whitebg bg hide-print pad-r-gt-sm">
      <div class="pad-r mat-elevation-z2 border-radius" fxLayout="column">
        <!--Title-->
        <div class="margin-bottom" fxLayout="row" fxLayoutAlign="start center">
          <div>
            <div *ngIf="variables.lang === 'en'">
              <h2 class="no-margin" [innerHTML]="curitem.name"></h2>
            </div>
            <div *ngIf="variables.lang === 'es'">
              <h2 class="no-margin" [innerHTML]="curitem.src.i18n?.es.title[0].value"></h2>
            </div>
          </div>
          <div fxFlex></div>
          <!--Node Admin-->
          <div *ngIf="variables.auth" fxLayout="column" fxLayoutAlign="end center" class="padding-right">
            <button mat-button [matMenuTriggerFor]="segmenu" class="min" aria-label="Node Menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #segmenu="matMenu">
              <a mat-menu-item [href]="adminUrl + curitem.src.nid[0].value">Edit</a>
            </mat-menu>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <a *ngIf="!dialog" routerLink="." [queryParams]="{'s': prevIndex(curIndex)}" mat-icon-button mat-raised-button
               aria-label="Previous" (click)="prevItem(curIndex)">
              <mat-icon>chevron_left</mat-icon>
            </a>
            <button *ngIf="dialog" mat-icon-button mat-raised-button
               aria-label="Previous" (click)="prevItem(curIndex)">
              <mat-icon>chevron_left</mat-icon>
            </button>
            <div fxFlex class="pad"></div>
            <a *ngIf="!dialog" routerLink="." [queryParams]="{'s': nextIndex(curIndex)}" mat-icon-button mat-raised-button
               aria-label="Next" (click)="nextItem(curIndex)">
              <mat-icon>chevron_right</mat-icon>
            </a>
            <button *ngIf="dialog" mat-icon-button mat-raised-button
               aria-label="Next" (click)="nextItem(curIndex)">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </div>
        <!--Body / Node Reference-->
        <div class="pad body-wrapper">
          <div *ngIf="variables.lang === 'en'">
            <div *ngIf="curitem.src.body.length > 0" [innerHTML]="curitem.src.body[0].value | safeHtml"></div>
            <div *ngIf="curitem.src.field_node_reference.length > 0">
              <div *ngIf="curitem.src.field_node_reference[0].src.body.length > 0"
                   [innerHTML]="curitem.src.field_node_reference[0].src.body[0].value | safeHtml"></div>
            </div>
          </div>
          <div *ngIf="variables.lang === 'es'">
            <div *ngIf="curitem.src.i18n.es.body.length > 0" [innerHTML]="curitem.src.i18n.es.body[0].value | safeHtml"></div>
            <div *ngIf="curitem.src.field_node_reference.length > 0">
              <div *ngIf="curitem.src.field_node_reference[0].src.i18n['es'].body.length > 0"
                   [innerHTML]="curitem.src.field_node_reference[0].src.i18n['es'].body[0].value | safeHtml"></div>
            </div>
          </div>
        </div>
        <!--Bottom Pagination-->
        <div fxLayout="column" class="backg1 bg pad border-radius">
          <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <!--Next-->
            <div fxFlex="100" fxFlex.gt-sm fxLayout="row" fxLayoutAlign="start center" fxFlexOrder.gt-sm="3">
              <div fxFlex class="pad" style="text-align:right;">
                <div *ngIf="variables.lang === 'en'">
                  <h4 class="no-margin" [innerHTML]="src[nextIndex(curIndex)].name"></h4>
                </div>
                <div *ngIf="variables.lang === 'es'">
                  <h4 class="no-margin" [innerHTML]="src[nextIndex(curIndex)].src.i18n['es'].title[0].value"></h4>
                </div>
              </div>
              <a *ngIf="!dialog" routerLink="." [queryParams]="{'s': nextIndex(curIndex)}" mat-icon-button mat-raised-button
                 aria-label="Next" (click)="nextItem(curIndex)">
                <mat-icon>chevron_right</mat-icon>
              </a>
              <button *ngIf="dialog" mat-icon-button mat-raised-button
                      aria-label="Next" (click)="nextItem(curIndex)">
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
            <div fxFlex fxFlexOrder.gt-sm="2"></div>
            <!--Prev-->
            <div fxFlex="100" fxFlex.gt-sm fxLayout="row" fxLayoutAlign="start center" fxFlexOrder.gt-sm="1">
              <a *ngIf="!dialog" routerLink="." [queryParams]="{'s': prevIndex(curIndex)}" mat-icon-button mat-raised-button
                 aria-label="Previous" (click)="prevItem(curIndex)">
                <mat-icon>chevron_left</mat-icon>
              </a>
              <button *ngIf="dialog" mat-icon-button mat-raised-button
                      aria-label="Previous" (click)="prevItem(curIndex)">
                <mat-icon>chevron_left</mat-icon>
              </button>
              <div class="pad">
                <div *ngIf="variables.lang === 'en'">
                  <h4 class="no-margin" [innerHTML]="src[prevIndex(curIndex)].name"></h4>
                </div>
                <div *ngIf="variables.lang === 'es'">
                  <h4 class="no-margin" [innerHTML]="src[prevIndex(curIndex)].src.i18n['es'].title[0].value"></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Guide Menu-->
    <div fxFlex="100" fxFlex.gt-sm="30" fxFlexOrder="2" fxFlexOrder.gt-sm="1" fxLayout="column"
         class="pad-r guide-menu whitebg bg hide-print margin-top-lg-lt-md margin-bottom-lg-lt-md">
      <div *ngFor="let item of src; trackBy: variables.trackByTarget; let last = last; let index = index;" class="guide-item"
           [ngClass]="{'margin-bottom': !last}" fxLayout="row" fxLayoutAlign="start center">
        <div class="margin-right">
          <button mat-raised-button mat-icon-button (click)="complete(index)"
                  class="button" [ngClass]="{'highlight': item.done}">
            <mat-icon>check</mat-icon>
          </button>
        </div>
        <div fxFlex fxLayout="column">
          <a *ngIf="!dialog" routerLink="." [queryParams]="{'s': index}" (click)="chooseItem(index, $event)"
             mat-raised-button class="primary button border-radius pad guide-btn"
                  appHighlight [ngClass]="{'active': index === curIndex}">
            <div *ngIf="variables.lang === 'en'">
              <div class="no-margin" [innerHTML]="item.name"></div>
            </div>
            <div *ngIf="variables.lang === 'es'">
              <div class="no-margin" [innerHTML]="item.src.i18n['es'].title[0].value"></div>
            </div>
          </a>
          <button *ngIf="dialog" (click)="chooseItem(index, $event)"
             mat-raised-button class="primary button border-radius pad guide-btn"
             appHighlight [ngClass]="{'active': index === curIndex}">
            <div *ngIf="variables.lang === 'en'">
              <div class="no-margin" [innerHTML]="item.name"></div>
            </div>
            <div *ngIf="variables.lang === 'es'">
              <div class="no-margin" [innerHTML]="item.src.i18n['es'].title[0].value"></div>
            </div>
          </button>
        </div>
      </div>
    </div>
    <!--Print View-->
    <div class="print-view">
      <div *ngFor="let item of src; let last = last; let index = index;" class="guides"
           [ngClass]="{'margin-bottom': !last}" fxLayout="column">
        <!--Title-->
        <div class="margin-bottom" fxLayout="row" fxLayoutAlign="start center">
          <div>
            <div *ngIf="variables.lang === 'en'">
              <h2 class="no-margin" [innerHTML]="item.name"></h2>
            </div>
            <div *ngIf="variables.lang === 'es'">
              <h2 class="no-margin" [innerHTML]="item.src.i18n?.es.title[0].value"></h2>
            </div>
          </div>
        </div>
        <!--Body / Node Reference-->
        <div class="pad">
          <div *ngIf="variables.lang === 'en'">
            <div *ngIf="item.src.body.length > 0" [innerHTML]="item.src.body[0].value | safeHtml"></div>
            <div *ngIf="item.src.field_node_reference.length > 0">
              <div *ngIf="item.src.field_node_reference[0].src.body.length > 0"
                   [innerHTML]="item.src.field_node_reference[0].src.body[0].value | safeHtml"></div>
            </div>
          </div>
          <div *ngIf="variables.lang === 'es'">
            <div *ngIf="item.src.i18n.es.body.length > 0" [innerHTML]="item.src.i18n.es.body[0].value | safeHtml"></div>
            <div *ngIf="item.src.field_node_reference.length > 0">
              <div *ngIf="item.src.field_node_reference[0].src.i18n['es'].body.length > 0"
                   [innerHTML]="item.src.field_node_reference[0].src.i18n['es'].body[0].value | safeHtml"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
