.order-wrapper {
  .item {
    position:relative;
    .active {
      background-color:lightgreen;
    }
    .drag-handle {
      cursor: pointer;
    }
    .info-wrapper {
      background:#fff;
    }
  }
}
