.triage-summary {
  a.page-link {
    text-decoration:none;
    &:hover {
      text-decoration: underline;
    }
  }
  .entry-wrapper {
    overflow:hidden;
  }
  .status-wrapper {
    .block {
      padding:0 !important;
      margin-bottom:16px;
    }
  }
}

// Print styles
@media only print {
  .triage-summary {
    .entry-actions {
      display:none !important;
    }
    .mat-tab-label, .mat-tab-header-pagination {
      display:none !important;
    }
    .mat-tab-label-active {
      display:flex !important;
    }
  }
}
