<div class="admin-term-triage-wrapper" fxLayout="column">
  <div class="pad backg bg white-text" fxLayout="row" fxLayoutAlign="start center">
    <h4 class="no-margin">
      Triage Entries
    </h4>
    <div fxFlex></div>
  </div>
  <div class="pad" fxLayout="column">
    <div>
      <div fxLayout="row" fxLayoutAlign="end center">
        <div class="mat-caption" [innerHTML]="term.name"></div>
        <div fxFlex></div>
        <div class="margin-right" fxLayout="column" fxLayoutAlign="center center">
          <button mat-raised-button (click)="cancel()">Cancel</button>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="saveTerm()">Save</button>
        </div>
      </div>
    </div>
    <div class="margin-top-lg" fxLayout="row" fxLayoutAlign="end center">
      <app-admin-node-picker [src]="entries" [type]="'segment+triage_entry+page'"></app-admin-node-picker>
    </div>
    <div *ngIf="entries && entries.length > 0" class="entries-wrapper">
      <div cdkDropList fxLayout="column" (cdkDropListDropped)="updateIndex($event, entries)">
        <div cdkDrag *ngFor="let item of entries; let index = index;"
             class="item margin-bottom mat-elevation-z1 backg1 bg flex-row-center">
          <div cdkDragHandle class="drag-handle" fxLayout="column" [ngClass]="{'active': index === lastMoved}">
            <mat-icon class="primary color">drag_handle</mat-icon>
          </div>
          <div fxFlex fxLayout="column">
            <div class="info-wrapper flex-row-center whitebg bg">
              <div class="pad mat-caption"><strong>{{index + 1}}</strong></div>
              <div [innerHTML]="item.node_export.title[0].value" class="margin-right"></div>
              <div fxFlex></div>
              <div class="pad-sm mat-caption" fxLayout="row" fxLayoutAlign="start center">
                <div class="margin-right"><strong>Language:</strong> {{item.node_export.field_lang_status[0].value}}</div>
                <div class="margin-right"><strong>Type:</strong> {{item.node_export.type[0].target_id}}</div>
                <div><strong>NID:</strong> {{item.node_export.nid[0].value}}</div>
              </div>
              <div class="pad" (click)="entries.splice(index, 1)" style="cursor:pointer">
                <mat-icon class="alert icon">remove_circle</mat-icon>
              </div>
            </div>
            <div><app-status-settings [item]="item"></app-status-settings></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

