<div fxLayout="column" class="home-wrapper">
  <h1 class="hidden">{{title}}</h1>
  <div *ngIf="working">
    <app-loader></app-loader>
  </div>
  <div *ngIf="!working">
    <div *ngIf="block_setup.length > 0">
      <div [fxHide]="setup.status === '0'" *ngFor="let setup of block_setup">
        <div fxLayout="row wrap" fxLayoutAlign="center stretch" class="{{setup['class']}}">
          <div *ngFor="let config of setup.columns" fxLayout="row wrap" fxLayoutAlign="start start"
               fxFlex.xs="100" fxFlex.sm="100" [fxFlex]="config.value" class="{{config['class']}}">
            <div [fxHide.xs]="node.desktop" [fxHide.sm]="node.desktop" [fxHide.gt-sm]="node.mobile"
                 *ngFor="let node of config.nodes" fxFlex.xs="100" fxFlex.sm="100" [fxFlex]="node.value[0]['flex']">
              <div class="{{node.value[0]['class']}}">
                <app-block [nid]="node.target_id"></app-block>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
